<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>adjust</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/js/layui/css/layui.css" media="all">
</head>
<body>
	<fieldset class="layui-elem-field layui-field-title"
		style="margin-top: 50px;">
		<legend>index2</legend>
	</fieldset>
	<form class="layui-form" action="json_add" method="post" id="index2">
		<div class="layui-form-item">
			<label class="layui-form-label">id</label> <input type="text"
				name="id" autocomplete="off" class="layui-input">
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">name</label> <input type="text"
				name="name" autocomplete="off" class="layui-input">
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">money</label> <input type="text"
				name="money" autocomplete="off" class="layui-input">
		</div>
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit="submit" lay-filter="index2">提交</button>
		</div>
	</form>
	<script src="/js/layui/layui.js"></script>
	<script>
		layui.use('form', function() {
			var $ = jQuery = layui.$;
			var form = layui.form;
			form.on('submit(index2)', function(data) {
				console.log(JSON.stringify(data.field));
			});
		});
	</script>
</body>
</html>