spring:
  datasource: 
    url: jdbc:mysql://localhost:3306/springboot?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
    username: root 
    password: root 
    driver-class-name: com.mysql.jdbc.Driver 
  jpa: 
    hibernate: 
      ddl-auto: update
    show-sql: true
server:
  port:8090